<div class="container">
<div class="bg">
	    	   	
    		<div class="row">  	
	    		<div class="col-sm-11">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Editar Referencia Comercial</h2>
	    				<!-- <div class="status alert alert-success" ></div>-->
	    					<% if(flash && flash.err) { %>
							<ul class="alert alert-success">
								<% Object.keys(flash.err).forEach(function(error){ %>
								<li> <%- JSON.stringify(flash.err[error]) %></li>
								<% }) %>
							</ul>
							<% } %>
	    				

				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post" action="/referenciacomercial/update/<%=referencia.id%>">
				    	 
				            <div class="form-group col-md-2">
				                <label  >Nombres</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="text" name="nombre" class="form-control" required="required" value="<%=referencia.nombre%>">
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Apellidos</label>
				            </div>
				           <div class="form-group col-md-4">
				                <input type="text" name="apellido" class="form-control" required="required" value="<%=referencia.apellido%>">
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Teléfono</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="number" name="telefono" class="form-control" required="required" value="<%=referencia.telefono%>" >
				            </div>
				          
				            <div class="form-group col-md-2">
				                <label  >Dirección</label>
				            </div>

				            <div class="form-group col-md-4">
				                <input type="text" name="direccion" class="form-control" required="required" value="<%=referencia.direccion%>">
				            </div>
				            <div class="form-group col-md-2">
				           		 <label >Capacidad Endeudamiento</label>
							</div>
							<div class="form-group col-md-4">
								<input type="number" name="capacidadEndeudamiento" class="form-control" required="required" value="<%=referencia.capacidadEndeudamiento%>">
							</div>

							<div class="form-group col-md-2">
								<label >Referencia de Pago</label>
							</div>
							<div class="form-group col-md-4">
								<input type="text" name="infoPago" class="form-control" required="required" value="<%=referencia.infoPago%>">
							</div>
					            
					            

				                                   
				            <div class="form-group col-md-4">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
				                <input type="hidden" name="propietario" value="<%=referencia.propietario%>"/>
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		
	    				
	    			</div>
    			</div>    			
	    	</div>  
    	
