<div class="container">
<div class="bg">
	    	   	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Referencia Familiar</h2>
	    				<!-- <div class="status alert alert-success" ></div>-->
	    					<% if(flash && flash.err) { %>
							<ul class="alert alert-success">
								<% Object.keys(flash.err).forEach(function(error){ %>
								<li> <%- JSON.stringify(flash.err[error]) %></li>
								<% }) %>
							</ul>
							<% } %>
	    				

				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post" action="/referenciafamiliar/create/<%=cliente.id%>">
				    		<h2 class="title text-justify">  Cliente: <%=cliente.nombre%> <%=cliente.apellido%></h2>
				    		<div class="form-group col-md-2">
							<label >Nombre</label>
						</div>
				            <div class="form-group col-md-4">
				                <input type="text" name="nombre" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
							<label >Apellido</label>
						</div>
				           <div class="form-group col-md-4">
				                <input type="text" name="apellido" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
							<label >Teléfono</label>
						</div>
				            <div class="form-group col-md-4">
				                <input type="number" name="telefono" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
							<label >Dirección</label>
						</div>

				            <div class="form-group col-md-4">
				                <input type="text" name="direccion" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
							<label >Parentezco</label>
						</div>

				            <div class="form-group col-md-4">
				                <select  name="parentezco" class="form-control" required="required" >
				                <option value="Madre">Madre</option>
				                <option value="Padre">Padre</option>
				                <option value="Hermano(a)">Hermano(a)</option>
				                <option value="Hijo">Hijo</option>
				                <option value="Tío(a)">Tío(a)</option>
				                <option value="Primo(a)">Primo(a)</option>
				                </select>
				            </div>
				                                   
				            <div class="form-group col-md-4">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Guardar y continuar">
				                <a href="/cliente/show/<%=cliente.id%>" class="btn btn-primary pull-right">Terminar</a>
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		
	    				
	    			</div>
    			</div>    			
	    	</div>  
    	
