<script type="text/javascript">
    $(document).ready(function(){
    	$("#target").click(function() {
    		$("#myModal").modal('show');
    	});
        
    });
</script>
<div class="container">
	<div class="bg">
		<div class="row">
			<div class="col-sm-3 padding-right">
				<button id="target">Nueva Compra</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 padding-right">
				<div class="features_items">
				<h2 class="title text-center">Imagenes</h2>
				<% _.each(imagenes, function(imagen) { %>
				<div class="col-sm-4">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/<%=imagen.filename%>"height="268" width="249" />
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li><a href="/imagenproducto/delete/<%=imagen.id%>?filename=<%=imagen.filename%>&producto=<%=producto.id%>"><i class="fa fa-plus-square"></i>Borrar</a></li>
							</ul>
						</div>
					</div>
				</div>
				<%})%>
			</div>
		</div>
	</div>
</div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title title">Nueva Imagen</h4>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class="contact-form">
                        

                        <% if(flash && flash.err) { %>
                        <ul class="alert alert-success">
                            <% Object.keys(flash.err).forEach(function(error){ %>
                            <li> <%- JSON.stringify(flash.err[error]) %></li>
                            <% }) %>
                        </ul>
                        <% } %>
                        
                        <div class="modal-body">
                           	<form  enctype="multipart/form-data" id="main-contact-form" class="contact-form row" method="post" action="/imagenproducto/upload/<%=producto.id%>">
							<div class="form-group col-md-10">
								<label>Agregar imagen</label>
								<input type="file" name="imagen" />
							</div>
							<div class="form-group col-md-3">
								<div class="form-group col-md-10">
									<input type="submit" name="submit" class="btn btn-primary pull-right" value="Guardar">
								</div>
							</div>
						</form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>