<div class="container">
	<div class="bg">

<script type="text/javascript">
	$( document ).ready(function() {
    $( "#target" ).click(function() {
    	var x=$("#target").val();
    	//alert(x);
    	
    	$('input[name=cliente]').val(x);

    	
});

  

});
	  $(function() {
    $('table').stickyTableHeaders();

</script>
	
		
		<div class="row">

			<div>
				<h2 class="title text-center">Clientes</h2>
				<table id="table" class="table table-striped" >

					<thead >
					<th >Documento</th>
					<th>Nombre</th>
					<th>Teléfono</th>
					<th>Dirección</th>
					<th>Email</th>
					
					<th colspan="2" class="text-center">Agregar Referencias</th>
					<th colspan="3" class="text-center">Acciones</th>
					</thead>
					</table>
			</div>
			<div class="col-sm-12" style="overflow: auto; height: 500px;">
				
				
				<table id="table" class="table table-striped" >

					<!-- <thead >
					<th >Documento</th>
					<th>Nombre</th>
					<th>Teléfono</th>
					<th>Dirección</th>
					<th>Email</th>
					
					<th colspan="2" class="text-center">Agregar Referencias</th>
					<th colspan="3" class="text-center">Acciones</th>
					</thead> -->
					
					<% _.each(clientes, function(cliente) { %>
					<tr>
						<td><%=cliente.documento%></td>
						<td><%=cliente.nombre%> <%=cliente.apellido%></td>
						<td><%=cliente.telefono%></td>
						<td><%=cliente.direccion%></td>
						<td><%=cliente.email%></td>
						
						<td>
							<a href="/referenciafamiliar/new/<%=cliente.id%>" class="btn btn-success btn-sm ">Familiares</a>
						</td>
						<td>
							<a href="/referenciacomercial/new/<%=cliente.id%>" class="btn btn-success btn-sm ">Comerciales</a>
						</td>
						<td>
							<a href="/cliente/show/<%=cliente.id%>" class="btn btn-success btn-sm ">Detalles</a>

						</td>
						<td>
							<!--<button id="target" value="<%=cliente.id%>" type="button" data-toggle="modal" data-target="#myModal">Nueva Compra</button>-->
							<a href="/compra/create/<%=cliente.id%>" class="btn btn-success btn-sm ">Nueva Compra</a>


						</td>
						<td>
							<form action="/cliente/destroy/<%= cliente.id%>" method="POST" accept-charset="utf-8">
								<input type="hidden" name="_method" value="delete"/>
								<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
								<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							</form>
						</td>
					</tr>
					<%})%>
				</table>
				
				
			</div>
	
		</div>
	</div>
</div>



