<div class="container">
	<div class="bg">
		
		<div class="row">
			<div class="col-sm-12">
				
				<h2 class="title text-center">Tipo Producto</h2>
				<table class="table table-striped" >
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th colspan="2" class="text-center">Acciones</th>
					<th></th>

					<% _.each(tiposProducto, function(tipoProducto) { %>
					<tr>
						<td><%=tipoProducto.codigo%></td>
						<td><%=tipoProducto.nombre%> </td>
						<td><%=tipoProducto.descripcion%></td>
						<td>
							<a href="/tipoproducto/show/<%=tipoProducto.id%>" class="btn btn-primary btn-sm ">Detalles</a>
						</td>
							<td>
							<a href="/tipoproducto/edit/<%=tipoProducto.id%>" class="btn btn-primary btn-sm ">Editar</a>
						</td>
						<td>
							<form action="/tipoproducto/destroy/<%= tipoProducto.id%>" method="POST" accept-charset="utf-8">
								<input type="hidden" name="_method" value="Borrar"/>
								<input type="submit"  class="btn btn-sm btn-primary-danger" value="Eliminar"/>
								<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							</form>
						</td>
					</tr>
					<%})%>
				</table>
			</div>
		</div>
	</div>
</div>