<script>
	$(document).ready(function() {
	    var count = 1;
	    $('#loadMoreButton').click(function function_name (argument) {
	    	// body... 1692876
	    	alert('loadMore');
	    	   loadArticle(count);
	            count++;

	    });
	        

	    function loadArticle(pageNumber) {
	        $.ajax({
	            url: "/producto/loadContent",
	            type: 'POST',
	            data: "number=" + pageNumber,
	            success: function(html) {
	                html.forEach(function(entry) {
	                	imagen=entry.imagenes[0];
	                    alert('recibi ' + entry.productos[0].nombre + "; "+entry.productos[1].nombre+"; "+ imagen);
	                   $("#content").append('<div class="col-sm-4"><div class="product-image-wrapper"><div class="single-products"><div class="productinfo text-center"><img src="/images/'+entry.imagenes[0].filename+'"height="268" width="249" /><h2>'+entry.productos[0].precio+'</h2><p>'+entry.productos[0].nombre+'</p></div><div class="product-overlay"><div class="overlay-content"><h2>'+entry.productos[0].precio+'</h2><p>'+entry.productos[0].nombre+'</p></div></div></div><div class="choose"><ul class="nav nav-pills nav-justified"><li><a href="/producto/show/entry.productos[0].id"><i class="fa'+'fa-plus-square"></i>Ver</a></li></ul></div></div></div>');
	                     $("#content").append('<div class="col-sm-4"><div class="product-image-wrapper"><div class="single-products"><div class="productinfo text-center"><img src="/images/a"height="268" width="249" /><h2>'+entry.productos[1].precio+'</h2><p>'+entry.productos[1].nombre+'</p></div><div class="product-overlay"><div class="overlay-content"><h2>'+entry.productos[1].precio+'</h2><p>'+entry.productos[1].nombre+'</p></div></div></div><div class="choose"><ul class="nav nav-pills nav-justified"><li><a href="/producto/show/entry.productos[0].id"><i class="fa'+'fa-plus-square"></i>Ver</a></li></ul></div></div></div>');
	                     
	                });

	            }
	        });
	        return false;
	    }
	});
</script>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
								<span class="badge pull-right"><i class="fa fa-plus"></i></span>
								Sportswear
							</a>
							</h4>
						</div>
						<div id="sportswear" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="">Nike </a></li>
									<li><a href="">Under Armour </a></li>
									<li><a href="">Adidas </a></li>
									<li><a href="">Puma</a></li>
									<li><a href="">ASICS </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordian" href="#mens">
								<span class="badge pull-right"><i class="fa fa-plus"></i></span>
								Mens
							</a>
							</h4>
						</div>
						<div id="mens" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="">Fendi</a></li>
									<li><a href="">Guess</a></li>
									<li><a href="">Valentino</a></li>
									<li><a href="">Dior</a></li>
									<li><a href="">Versace</a></li>
									<li><a href="">Armani</a></li>
									<li><a href="">Prada</a></li>
									<li><a href="">Dolce and Gabbana</a></li>
									<li><a href="">Chanel</a></li>
									<li><a href="">Gucci</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordian" href="#womens">
								<span class="badge pull-right"><i class="fa fa-plus"></i></span>
								Womens
							</a>
							</h4>
						</div>
						<div id="womens" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="">Fendi</a></li>
									<li><a href="">Guess</a></li>
									<li><a href="">Valentino</a></li>
									<li><a href="">Dior</a></li>
									<li><a href="">Versace</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Kids</a></h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Fashion</a></h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Households</a></h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Interiors</a></h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Clothing</a></h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Bags</a></h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#">Shoes</a></h4>
						</div>
					</div>
					</div><!--/category-productsr-->
					
					<div class="brands_products"><!--brands_products-->
					<h2>Brands</h2>
					<div class="brands-name">
						<ul class="nav nav-pills nav-stacked">
							<li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
							<li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
							<li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
							<li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
							<li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
							<li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
							<li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
						</ul>
					</div>
					</div><!--/brands_products-->
					
				</div>
			</div>
			
			<div id="content" class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
				<h2 class="title text-center">Producto</h2>
				<% _.each(productos, function(producto) { %>
				<% var m = 0 %>
				<% _.each(imagenes, function(imagen) { %>
				<% if(imagen.producto== producto.id && m<1){%>
				<div class="col-sm-4">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/<%=imagen.filename%>"height="268" width="249" />
								<h2><%=producto.precio%></h2>
								<p><%=producto.nombre%></p>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2><%=producto.precio%></h2>
									<p><%=producto.nombre%></p>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li><a href="/producto/show/<%= producto.id%>"><i class="fa fa-plus-square"></i>Ver</a></li>
							</ul>
						</div>
					</div>
				</div>
				<%m++%>
				<%}%>
				<%})%>
				<%m=0 %>
				<%})%>
				<div >
					<button id="loadMoreButton" class="btn btn-default">Cargar Mas</button>
				</div>
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>