<script>
	$(document).ready(function() {
		   status('Choose a file :)');
 
    // Check to see when a user has selected a file                                                                                                                
    var timerId;
    timerId = setInterval(function() {
	if($('#userPhotoInput').val() !== '') {
            clearInterval(timerId);
 
            $('#uploadForm').submit();
        }
    }, 500);
 
    $('#uploadForm').submit(function() {
        status('uploading the file ...');
        alert('submit');
 
        $(this).ajaxSubmit({                                                                                                                 
 
            error: function(xhr) {
		status('Error: ' + xhr.status);
            },
 
            success: function(response) {
		//TODO: We will fill this in later
            }
	});
 
	// Have to stop the form from submitting and causing                                                                                                       
	// a page refresh - don't forget this                                                                                                                      
	return false;
    });
	 
	    function status(message) {
		$('#status').text(message);
	    }
	});
</script>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian">
							<!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Sportswear
									</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Nike </a></li>
											<li><a href="">Under Armour </a></li>
											<li><a href="">Adidas </a></li>
											<li><a href="">Puma</a></li>
											<li><a href="">ASICS </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#mens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Mens
									</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Fendi</a></li>
											<li><a href="">Guess</a></li>
											<li><a href="">Valentino</a></li>
											<li><a href="">Dior</a></li>
											<li><a href="">Versace</a></li>
											<li><a href="">Armani</a></li>
											<li><a href="">Prada</a></li>
											<li><a href="">Dolce and Gabbana</a></li>
											<li><a href="">Chanel</a></li>
											<li><a href="">Gucci</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#womens">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Womens
									</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Fendi</a></li>
											<li><a href="">Guess</a></li>
											<li><a href="">Valentino</a></li>
											<li><a href="">Dior</a></li>
											<li><a href="">Versace</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Kids</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Fashion</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Households</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Interiors</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Clothing</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bags</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Shoes</a></h4>
								</div>
							</div>
							</div><!--/category-products-->
							
						</div>
					</div>
					
					<div class="col-sm-9 padding-right">
						<div class="product-details">
							<!--product-details-->
							<div class="col-sm-5">
								<div class="view-product">
									<% if(imagenes[0]){%>
									<img src="/images/<%=imagenes[0].filename%>"/>
									<%}else{%>
									<img src="/images/product-details/1.jpg" alt="" />
									<%}%>
								</div>
								<div id="similar-product" class="carousel slide" data-ride="carousel">
									
									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<% var m=0%>
										<%imagenes.forEach(function(imagen){%>
										<%if(m==0){%>
										<div class="item active">
											<%}else{%>
											<div class="item">
												<%}%>
												<a href=""><img  height="300" width="300" src="/images/<%=imagen.filename%>"></a>
												<% m++%>
											</div>
											<%});%>
										</div>
										<!-- Controls -->
										<a class="left item-control" href="#similar-product" data-slide="prev">
											<i class="fa fa-angle-left"></i>
										</a>
										<a class="right item-control" href="#similar-product" data-slide="next">
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="product-information"><!--/product-information-->
									<h2><%=producto.nombre%></h2>
									<p><b>Codigo:</b><%=producto.codigo%></p>
									<span>
									<span>$<%=producto.precio%></span>
									<label>Cantidad:</label>
									<input type="text" value="<%=producto.cantidadBodega%>" disabled />
									</span>
									<% if(producto.ancho){%>
									<p><b>Ancho:</b> <%=producto.ancho%></p>
									<%}%>
									<% if(producto.alto){%>
									<p><b>Alto:</b> <%=producto.alto%></p>
									<%}%>
									<p><b>Garantia:</b> <%=producto.garantia%></p>
									<p><b>Descripción:</b> <%=producto.descripcion%></p>
									<!--Provedor Visible Si se Es admin-->
									<p><b>Provedor:</b><%=provedor.nombre%></p>
									<a href=""><img src="/images/product-details/share.png" class="share img-responsive"  alt="" /></a>

									</div><!--/product-information-->
								</div>
								<form  enctype="multipart/form-data" id="uploadForm" class="contact-form row" method="post" action="/imagenProducto/upload/<%=producto.id%>">
						<div class="form-group col-md-10">
							<label>Agregar imagen</label>
							<input type="file" id="userPhotoInput" name="userPhotoInput" />
						</div>
						<div class="form-group col-md-3">
						<div class="form-group col-md-10">
							<input type="submit" name="culo" id="culo" class="btn btn-primary pull-right" value="Guardar">
						</div>
					</form>
								</div><!--/product-details-->
							</div>
						</div>
					</div>
				</section>